name: elixir

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: ['24.3', '25.0']
        elixir: ['1.12.3', '1.13.4']
        exclude:
        - otp: '25.0'
          elixir: '1.12.3'
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - run: mix deps.get
      - run: mix test

